<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kvp.thinkjeonju.repository.ScheduleMapper">
    <select id="findByMemberId" resultMap="schedule">
        SELECT * FROM SCHEDULE
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="getLikeCnt" resultType="int">
        SELECT COUNT(*) FROM LIKE_TO
        WHERE RELATED_ID = #{id} AND ISSPOT = 'c'
    </select>

    <select id="findBestSchedules" resultMap="schedule">
        SELECT * FROM
        (SELECT SCHEDULE.* FROM SCHEDULE
        LEFT JOIN (SELECT RELATED_ID, COUNT(*) as LIKE_CNT FROM LIKE_TO  WHERE ISSPOT = 'c'
        GROUP BY RELATED_ID) ON SCHEDULE.ID = RELATED_ID
        ORDER BY LIKE_CNT DESC nulls last, ID ASC)
        WHERE ROWNUM <![CDATA[ <= ]]> 4
    </select>

    <resultMap id="schedule" type="schedule">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="member_id" property="memberId"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="is_public" property="isPublic"/>
        <result column="thumnail_url" property="thumnailUrl"/>
        <result column="is_writing" property="isWriting"/>
    </resultMap>
</mapper>