* {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

html, body {
    height: 100%;
}

.main-container {
    min-height: 100%;
}

.header-container {
    width: 1080px;
    margin: 0 auto;
}

.header {
    width: inherit;
    display: inline-grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "logo menu account";
}

.header a:hover {
    color: lightgray;
    cursor: pointer;
}

#login:hover, #join:hover, #logout:hover {
    color: lightgray;
    cursor: pointer;
}

.logo {
    grid-area: logo;
    justify-self: left;
    align-self: center;
    padding-top: 10px;
}


.menu {
    grid-area: menu;
    justify-self: left;
    align-self: center;
}

.menu a {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}

.account {
    grid-area: account;
    justify-self: right;
    align-self: center;
}

.account a {
    font-size: 20px;
    font-weight: bold;
}

#login, #my-page {
    margin-right: 20px;
}

.close span {
    font-size: 35px;
}

.modal-title {
    font-weight: 600;
    font-size: 25px;
    padding-left: 20px;
    width: 80%;
    display: inline-block;
}

.modal-body {
    width: 300px;
    margin: auto;
}

.login-form {
    width: 100%;
}

.modal-input-area {
    margin-top: 10px;
}

.modal-input-area span {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}

.modal-input-area input {
    width: 100%;
    padding: 0 5px;
}

.validation-error {
    margin: 2px 0 2px 5px;
}

.validation-error span {
    color: red;
    font-size: 13px;
}

#login-error, #join-error {
    margin-top: 15px;
    margin-bottom: -20px;
}

#login-btn, #join-btn {
    width: 100%;
    margin: 30px 0 10px 0;
}

#join-form-btn, #login-form-btn {
    width: 100%;
    margin-bottom: 20px;
}

.footer-container {
    width: 100%;
    background-color: lightgray;
    margin-top: 20px;
    padding: 10px 0;
}

.footer {
    width: 1080px;
    margin: 0 auto;
}

#footer-info {
    font-weight: 300;
}