@charset "UTF-8";

#searchImgDiv {
	background-image: url("../image/jeonjuStation.jpg");
	background-size: 1080px 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 450px;
	width: 100%;
}
#searchDiv {
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	position: relative;
	top: 300px;
	background: white;
	width: 400px;
	height: 60px;
	border-radius: 10px;
}
#searchDiv input {
	width: 320px;
	display: inline;
	height: 100%;
	border: none;
}
#searchDiv input:focus, #searchDiv button:focus{
    box-shadow: none;
}
#searchDiv button {
	background: transparent;
}
#searchDiv button img{
	padding-bottom: 5px;
}