@charset "UTF-8";

.title {
	font-size: 20px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.spotContainer {
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-top: 20px;
	width: 250px;
	height: 260px;
	border: 1px solid #80808036;
}
#container {
	width: 1080px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding-left: 25px;
	margin-top: 20px;
	min-height: 540px;
}
.img {
	width: 250px;
	height: 170px;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.star {
	top: 5px;
	left: 220px;
}
.contentContainer {
	top: 170px;
	position: relative;
	margin: 5px;
}
.likeCnt img{
	width: 18px;
	margin-right: 3px;
}
#pagingDiv {
	width: fit-content;
	margin: 0 auto;
}
/* .star img:hover {
	cursor: pointer;
} */
.imgDiv img {
	-webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:1.2s;
    -moz-transition:1.2s;
    -ms-transition:1.2s;
    -o-transition:1.2s;
    transition:1.2s;
}
.imgDiv:hover img {
	-webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
.imgDiv {
	overflow:hidden;
}
.spotContainer:hover {
	border: 1px solid rgba(0,123,255,.5);
	cursor: pointer;
}
#spotNonExist {
	width: fit-content;
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
}
#spotNonExist span {
	color: red;
}
.star img {
	width: 24px;
	height: 24px;
}