<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>think_jeonju</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/base.css"/>
    {{#block "head"}} {{/block}}
</head>
<body>
<div class="main-container">
    <div class="header-container">
        <div class="header">
            <h1 class="logo">
                <a href="/">
                    <img src="/image/think_jeonju.jpg" width="215"/>
                </a>
            </h1>
            <div class="menu">
                <a id="spot-menu" href="#">
                    <span>장소</span>
                </a>
                <a id="schedule-menu" href="#">
                    <span>스케쥴</span>
                </a>
                {{#loginUser}}
                <a id="schedule-create-menu" href="/schedules">
                    <span>스케쥴 작성</span>
                </a>
                {{/loginUser}}
            </div>
            <div class="account">
                {{^loginUser}}
                <a id="login">
                    <span>로그인</span>
                </a>
                <a id="join">
                    <span>회원가입</span>
                </a>
                {{/loginUser}}
                {{#loginUser}}
                <a href="/myPage" id="my-page">
                    <span>마이페이지</span>
                </a>
                <a id="logout">
                    <span>로그아웃</span>
                </a>
                {{/loginUser}}
            </div>
        </div>
    </div>
    <div class="contents-container">
    {{#block "contents"}} {{/block}}
    </div>
    <div class="footer-container">
        <div class="footer">
            <p id="footer-info">(팀)KVP | Think-Jeonju</p>
            <p>Copyright ⓒ 2018 thinkJeonju.com, All Rights Reserved.</p>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-modal-title"> 로그인 </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="login-form">
                        <div class="modal-input-area">
                            <span>아이디</span>
                            <input class="id" id="login-id" name="id" autocomplete="off"/>
                            <div class="validation-error" id="login-id-error" style="display: none"> <span></span></div>
                        </div>
                        <div class="modal-input-area">
                            <span>비밀번호</span>
                            <input type="password" class="password" id="login-password" name="password"/>
                        </div>
                        <div class="validation-error" id="login-password-error" style="display: none"> <span></span></div>

                        <div class="validation-error" id="login-error" style="display: none"> <span></span></div>
                        <button type="button" class="btn btn-primary width100p" id="login-btn">로그인</button>
                    </form>
                    <button type="button" class="btn btn-outline-secondary width100p" onclick="" id="join-form-btn">회원가입</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Join Modal -->
    <div class="modal fade" id="join-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="join-modal-title"> 회원가입 </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="join-form">
                        <div class="modal-input-area">
                            <span>아이디</span>
                            <input class="id" id="join-id" name="id" autocomplete="off"/>
                        </div>
                        <div class="validation-error" id="join-id-error" style="display: none"> <span></span></div>
                        <div class="modal-input-area">
                            <span>비밀번호</span>
                            <input type="password" class="password" id="join-password" name="password"/>
                        </div>
                        <div class="validation-error" id="join-password-error" style="display: none"> <span></span></div>
                        <div class="modal-input-area">
                            <span>이름</span>
                            <input class="name" id="join-name" name="name" autocomplete="off"/>
                        </div>
                        <div class="validation-error" id="join-name-error" style="display: none"> <span></span></div>

                        <div class="validation-error" id="join-error" style="display: none"> <span></span></div>
                        <button type="button" class="btn btn-primary width100p" id="join-btn">회원가입</button>
                    </form>
                    <button type="button" class="btn btn-outline-secondary width100p" onclick="" id="login-form-btn">로그인</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/js/base.js"></script>
<script src="/js/index.js"></script>
<script src="/js/login.js"></script>
<script src="/js/join.js"></script>
{{#block "script"}} {{/block}}
</body>
</html>