{{#partial "head"}}
<style>
    .detailInfo{
        width: 500px;
        height: 770px;
        border: 1px solid red;
        display: inline-block;
        margin-left: 1150px;
        position: absolute;
    }
    .contents-container{
        height: 771px;
    }
    .scheduledetail {
        margin-left: 20px;
        width: 1080px;
        margin-right: 0;
        display: inline-block;
        position: absolute;
    }
    .date{
        width: 500px;
        margin: 0 auto;
    }
    #startDate,
    #endDate{
        display: inline;
        width: 50%;
    }
    .nameDay{
        height: 20px;
        display: inline;
        padding: 3px;
        border-bottom: 2px solid green;
    }
    .drawDay{
        height: 45px;
        width: 100%;
        margin-top: 10px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0 5px;
    }
    .draw-form {
        height: 90px;
        width: 100%;
        border-bottom: 1px solid lightgray;
        margin: 10px 0;
    }
    .drawSchedule {
        height: 650px;
        overflow: auto;
    }

    .draw{
        margin-bottom : 5px;
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    .draw>img {
        width: 30px;
        height: 30px;
    }

    .draw:hover,
    .finish_flag:hover{
        cursor : pointer;
    }

    .arrowimg, .finish_flag {
        width: 20px;
        height: 20px;
        display: inline-block;
    }
</style>
{{/partial}}

{{#partial "contents"}}

<div class="modal fade" id="spotModal" tabindex="-1" role="dialog" data-show="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="spotName">
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id ="spotModal-body">
                <img src=""  class="spotimg">
                <dd class="like">
                    <img src="">
                    <spn class="like-cnt"></spn>
                </dd>
                <div class="budget">
                    예산(단위:원):<input type="text" class="details-budget" readonly>
                </div>
            </div>
            <div class="modal-footer" id="spotModal-footer">
                <button type="button" class="btn btn-secondary" >확인</button>
            </div>
        </div>
    </div>
</div>


<div class="scheduledetail">
{{#schedule}}
<div id="scheduleinfo">
    <div class="title"><h5>{{title}}</h5></div>
    <div class="date">
        <input id="startDate" class="date" value="{{startDate}}"readonly> ~
        <input id="endDate" class="date" value="{{endDate}}"readonly>
        <input id="trapTerm" class="date" readonly>
    </div>
</div>
{{/schedule}}

<div id="scheduleResult">
    <div class="drawSchedule">
        {{#draw schedule scheSpot money}}

        {{/draw}}
    </div>
</div>
</div>
<div class="detailInfo">

</div>

<input type="hidden" id="uuid" name="uuid" value="{{schedule.id}}">
{{/partial}}

{{#partial "script"}}
<script>
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();
        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;
        return [year, month, day].join('-');
    }

    $(document).on("click",".draw",function(){
        var day = new Date($("#startDate").val());
        var sche_date = formatDate(new Date(day.setDate(day.getDate() +$(this).parent().parent().attr("id").substring(7)-1)));
        console.log(sche_date);
        const addForm = {
            "id" : $("#uuid").val(),
            "Date" : $(this).parent().parent().attr("id").substring(7),
            "spotId" : $(this).data().spotId
        };
        $.ajax({
            url: "/api/spots/search",
            method: "GET",
            data: {
                dataValue: dataValue
            },
            success: function (spots) {
                let html = '';
                if (spots.length === 0) {
                    return;
                }
            }
    });

    });
</script>
{{/partial}}

{{>base}}