{{#partial "head"}}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/css/spotMenu.css"/>
<link rel="stylesheet" href="/css/spotDetail.css"/>
{{/partial}}

{{#partial "contents"}}
<div id="navbar">
	<div>
		<a href="#" class="searchMenu" id="All" onclick="spotCategorySearch(this)">통합검색</a>
	  	<a href="#" class="searchMenu" id="CulturalSpace" onclick="spotCategorySearch(this)">문화공간</a>
	  	<a href="#" class="searchMenu" id="CulturalExperience" onclick="spotCategorySearch(this)">문화체험</a>
	  	<a href="#" class="searchMenu" id="OutdoorSpace" onclick="spotCategorySearch(this)">야외여행지</a>
	  	<a href="#" class="searchMenu" id="StreetTour" onclick="spotCategorySearch(this)">거리투어</a>
	 	<a href="#" class="searchMenu" id="CulturalProperty" onclick="spotCategorySearch(this)">문화재</a>
	 	<div id="search">
			<input type="text" class="form-control" id="searchKeyword"/>
			<button class="btn btn-light" onclick="spotCategorySearch(this)">검색</button>
		</div>
	</div>
</div>
<div id="bodyContainer">
	<div id="container">
		<table id="tblContainer">
			<tr>
				<td rowspan="3">
					<div class="w3-content w3-display-container" id="imgContainer">
						{{#spot.imgUrl}}
						<img class="mySlides" src="{{this}}">
						{{/spot.imgUrl}}
		  				<div class="w3-center w3-display-bottommiddle" id="slideBar">
	    				<div class="w3-left arrow" onclick="plusDivs(-1)"><img src="/image/left-arrow.png" alt="" /></div>
		    			<div class="w3-right arrow" onclick="plusDivs(1)"><img src="/image/right-arrow.png" alt="" /></div>
							{{#spot.imgUrl}}
				    		<span class="w3-badge demo w3-border" onclick="currentDiv({{@index}})"></span>
							{{/spot.imgUrl}}
		  				</div>
					</div>
				</td>
				<td class="verticalTop ctg">
					<div>
						<div id="category">
							{{spot.category}}
						</div>
					</div>
				</td>
				<td>
					<div id="imgBtn">
						{{#isMyLike spot.isLike}}
							<img src="/image/fullStar.png" alt="" onclick="switchStarImg(this)" data-id="{{spot.id}}" class="star"/>
						{{else}}
							<img src="/image/star.png" alt="" onclick="switchStarImg(this)" data-id="{{spot.id}}" class="star"/>
						{{/isMyLike}}
					</div>
				</td>
			</tr>
			<tr>
				<td class="verticalTop" colspan="2">
					<div>
						<div id="name">{{spot.name}}</div>
						<div id="like">
							<img src="/image/fullStar.png" alt="" />
							<span id="likeCnt">{{spot.likeCnt}}</span>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="verticalBottom" colspan="2">
					<div class="cnt_info">
						<ul>
							<li class="addr">
							{{#existAddr spot.addr}}
								{{spot.addr}} {{spot.addrDtl}}
								<img src="/image/map.png" alt="" data-toggle="tooltip" data-placement="right" title="지도보기" onclick="getMapSearch()"/>
							{{else}}
							{{/existAddr}}								
							</li> 
							<li class="tel">{{spot.tel}}</li>
							<li class="url"><a href="{{spot.url}}">{{spot.url}}</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		<hr />
		<div id="content">
			{{spot.content}}
		</div>
	</div>
</div>
<input type="hidden" id="addr" value="{{spot.addr}} {{spot.addrDtl}}"/>
<input type="hidden" id="spotName" value="{{spot.name}}"/>
<input type="hidden" id="category" value="{{spot.category}}"/>
<div id="mapContainer">
	<div id="map"></div>
</div>
{{/partial}}

{{#partial "script"}}
<script src="/js/spotMenu.js"></script>
<script src="/js/spotDetail.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fd0611bb02f752b4c80321d396b6b4dc&libraries=services,clusterer,drawing"></script>
{{/partial}}

{{>base}}