<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kvp.thinkjeonju.repository.SearchMapper">
	<select id="checkSpotIdDuplicate" resultType="_int">
		SELECT COUNT(*) 
		FROM SPOT 
		WHERE ID = #{id}
	</select>
	
	<insert id="addSpot">
		INSERT INTO SPOT
		VALUES (#{id}, 
				#{name},
				#{content},
				#{zipCode},
				#{addr},
				#{addrDtl},
				#{posX},
				#{posY},
				#{url},
				#{tel},
				#{fileCnt})
	</insert>
	
	<select id="checkSpotImgDuplicate" resultType="_int">
		SELECT COUNT(*) 
		FROM SPOTIMG
		WHERE ID = #{id}
	</select>
	
	<insert id="addSpotImg">
		INSERT INTO SPOTIMG
		VALUES (#{id}, 
				#{spotId},
				#{url})
	</insert>
	
	<select id="searchSpot" resultType="com.kvp.thinkjeonju.dto.SpotDTO">
		SELECT *
		FROM SPOT
		WHERE NAME LIKE '%'||#{dataValue}||'%'
		OR CONTENT LIKE '%'||#{dataValue}||'%'
	</select>
	
	<select id="searchSpotImg" resultType="String">
		SELECT url
		FROM SPOTIMG
		WHERE SPOTID = #{id}
	</select>
</mapper>